* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
}

body {
    background-color: #b2902c;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #120907;
    display: flex;
    width: 100vw;
    height: 20vh;
    align-items: center;
}

header img {
    width: 10vw;
    height: 20vh;
}

.titulo {
    padding: 16px;
    font-size: 2.5rem;
    color: #b2902c;
}

.menu {
    width: 50vw;
    display: flex; 
    justify-content: flex-end;
    gap: 24px;
    padding: 0px;
}

.menu a {
    font-size: 2rem;
    text-decoration: none;
    color: #b2902c;
}

.secao {
    border: 5px solid #120907 ;
    border-radius: 24px;
    padding: 10vw 10vh;
    margin: 10vh 20vw;
    text-align: justify;
}

.secao:hover {
    background-color: #120907;
    color: #b2902c;
}

.secao h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 8px;
}

.secao p {
    font-size: 1.2rem;
}


.final {
    display: flex;
    flex-direction: row;
    padding: 12px;
    background-color: aqua;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    
}



.final .c1 {
    width: 15%;

}

.final .c2 {
    width: 15%;
}

.final .c3 {
    width: 15%;
}

.final .c4 {
    width: 15%;
}




/* 
.color1 {color: #120907;}
.color2 {color: #351f07;}
.color3 {color: #6d5313;}
.color4 {color: #b2902c;}
.color5 {color: #ebd446;} 
*/